@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
*{margin: 0; padding: 0;}
h1 {font-family: "Noto Sans HK";}
h2 {font-family: "Noto Sans HK";}
h3 {font-family: "Noto Sans HK";}
p {font-family: "Noto Sans HK";}
.container
.main
.coordonées {font-family: "Noto Sans HK";}
.right{font-family: "Noto Sans HK";}
.left{font-family: "Noto Sans HK";}
.expérience
.formation
.cmpnum
.domaine
.type
.cmptech
.Langues
.int