
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {margin: 0; padding: 0;}



 html, body {height:100% ;background-color: rgb(253,249,240);}
img {width: 200px; border: 2px solid black;}
h1 {font-size:30pt ; font-family: 'Roboto', sans-serif ; color: black; text-align: center; margin-top: 40px; margin-bottom: 40px;}
p {font-size: 12pt; font-family: 'Roboto', sans-serif ; color: black; text-align: center; margin-bottom: 20px;}
a {font-size: 10pt; font-family: 'Roboto', sans-serif ; color: black; text-decoration: none}
footer {position: relative; background-color:rgb(104,104,104); width:100%; height: 130px; margin-top: -130px; clear: both;}

.container{min-height: 100%;}
.main{ overflow: auto; padding-bottom: 130px; }
.foot {font-size: 10pt ; color: white; text-align: right; padding-top: 20px; padding-right: 20px;} 
#grey {font-size: 14pt ; color: rgb(125,125,125); padding-top: 0; padding-right: 30px;}	
.grid {display:grid; grid-template-columns: 200px 200px; grid-template-rows: 1fr 10px ; grid-template-areas: "img1 img2";	grid-template-areas: "clic1 clic2"; grid-gap: 70px ;grid-row-gap: 15px; justify-items: center; justify-content: center;}
.img1{grid-area: "img1"; margin-top: 15px;}
.img2{grid-area: "img2"; margin-top: 15px;}
.clic1{grid-area: "clic1"; border: 0.5px ;}
.clic2{ grid-area: "clic2"; border: 0.5px ;} 